
body{
    background-image: url('imagen-fondo.png');
    color: #FFFF;
}

h1 { 
    color: red;
}
img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 300;
    
}
#thirdDiv {
    background-color: black;
    height: 600px;
    width: 500;
    padding: 50px;
    border: 10px solid grey;
    
}
#spanId {
    font-size: 18px;
    margin: 50px;
}

a{
    color: black;
}

.divClass{
    text-align: center;
    color: black;
}